@import "mixins.scss";

.mapContainer {
  max-width: rem(400);
  margin: 0 auto;
}

.textDivider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  &::before,
  &::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: $gray-2;
  }

  &Content {
    flex-shrink: 0;
    padding-left: rem(24);
    padding-right: rem(24);
  }
}

// dark theme
[data-vb-theme="dark"] {
  .textDivider {
    &::before,
    &::after {
      background-color: $dark-gray-4;
    }
  }
}
