@import "mixins.scss";

.item {
  padding: rem(10);
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: lighten($gray-1, 2);
  }
}

.current {
  background-color: $gray-1;

  &:hover {
    background-color: $gray-1;
  }
}

.info {
  min-width: 0;
}

.unread {
  min-width: 15px;
}
