@import "mixins.scss";

.list {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: rem(11);
    bottom: 0;
    width: rem(4);
    background-color: $gray-2;
  }
}

.itemLink {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  &:hover {
    color: inherit;

    .itemAction {
      span {
        &:first-child {
          opacity: 1;
        }
      }
    }
  }

  &:focus {
    color: inherit;
  }
}

.itemMeta {
  flex-basis: 40px;
  margin-right: rem(10);
}

.itemAction {
  margin-left: auto;
  white-space: nowrap;

  span {
    @include transition-slow();
    opacity: 0.9;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 15px;
    height: 22px;

    &::before {
      position: absolute;
      top: 5px;
      left: 0;
      transform: rotate(45deg);
      content: "";
      width: 15px;
      height: 3px;
      background-color: $blue;
      border-radius: 5px;
    }
    &::after {
      position: absolute;
      top: 14px;
      left: 0;
      transform: rotate(-45deg);
      content: "";
      width: 15px;
      height: 3px;
      background-color: $blue;
      border-radius: 5px;
    }

    &:first-child {
      opacity: 0.5;
    }

    &:last-child {
      margin-left: -9px;
    }
  }
}

.item {
  display: block;
  margin-bottom: rem(15);
  color: $gray-6;

  &:last-child {
    margin-bottom: 0;
  }
}

.donut {
  display: inline-block;
  width: rem(16);
  height: rem(16);
  border-radius: 100%;
  border: 4px solid $default;
  position: relative;
  top: rem(2);
  margin-right: rem(4);
  background-color: $white;

  &.md {
    width: rem(26);
    height: rem(26);
  }
  &.default {
    border-color: $default;
  }
  &.primary {
    border-color: $primary;
  }
  &.secondary {
    border-color: $secondary;
  }
  &.success {
    border-color: $success;
  }
  &.warning {
    border-color: $warning;
  }
  &.danger {
    border-color: $danger;
  }
  &.info {
    border-color: $info;
  }
  &.yellow {
    border-color: $yellow;
  }
  &.orange {
    border-color: $orange;
  }
  &.gray2 {
    border-color: $gray-2;
  }
}

// dark theme
[data-vb-theme="dark"] {
  .list {
    &:before {
      background: $dark-gray-4;
    }
  }
  .donut {
    background: $dark-gray-6;
  }
}
