@import "mixins.scss";

.vb__utils {
  // link
  &__link {
    color: $primary;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $blue-light;
    }

    &__underlined {
      color: $primary;
      border-bottom: 1px solid $blue-light;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $blue-light;
        border-bottom: 1px solid rgba($blue-light, 0.8);
      }
    }
  }

  // page heading
  &__heading {
    position: relative;
    padding-left: rem(30);
    font-size: rem(17);
    color: $dark;

    &:before {
      position: absolute;
      top: rem(5);
      left: 0;
      content: "";
      display: block;
      float: left;
      height: rem(15);
      width: rem(15);
      background: $primary;
      border-radius: 4px;
    }

    > strong {
      font-weight: bold;
      text-transform: none;
    }
  }

  &__shadow {
    box-shadow: $shadow-ant;
  }

  // fided sidebar buttons
  &__sidebar {
    &__buttons {
      pointer-events: none;
      position: fixed;
      z-index: 800;
      right: rem(40);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: rem(100);

      @media (max-width: $md-max-width) {
        right: rem(15);
      }
    }

    &__button {
      pointer-events: all;
      box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1) !important;
      display: block;
      min-width: rem(50);
      height: rem(50);
      line-height: rem(50);
      text-align: center;
      border-radius: 15px;
      background: $white;
      font-size: 18px;
      transition: all 0.3s ease-in-out;
      color: $primary;
      margin-top: rem(10);

      svg {
        width: rem(20);
        margin-top: rem(12);
        path {
          fill: $primary;
          stroke: $primary;
        }
      }

      &__long {
        margin: 0;
        padding: 0 rem(20);
        height: rem(40);
        line-height: rem(40);

        span {
          font-size: rem(16);
          font-weight: bold;
        }
      }

      &:hover {
        background: $primary;
        color: $white;

        i {
          color: $white;
        }

        svg {
          path {
            fill: $white;
            stroke: $white;
          }
        }
      }

      i {
        transition: all 0.3s ease-in-out;
        position: relative;
        bottom: -3px;
        color: $primary;
      }

      &__primary {
        background: $primary;
      }

      &__success {
        background: $success;

        &:hover {
          background: lighten($success, 7%) !important;
        }
      }

      &__primary,
      &__success {
        i {
          transition: all 0.3s ease-in-out;
          position: relative;
          bottom: -3px;
          color: $white;
        }
      }

      &__color {
        position: relative;

        button {
          padding: 0;
          display: inline-block;
          border-radius: 20px;
          border: none;
          position: absolute;
          z-index: 1001;
          height: 26px;
          width: 26px;
          top: -5px;
          right: -7px;
          line-height: 25px;
          outline: none !important;
          font-size: 18px;
          box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1) !important;

          i {
            color: $gray-6 !important;
          }

          &:hover {
            background: $gray-3 !important;
          }
        }

        input {
          cursor: pointer;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }

        &__reset {
          button {
            display: none;
          }
        }
      }
    }
  }

  // avatar
  &__avatar {
    width: rem(40);
    height: rem(40);
    border-radius: 5px;
    overflow: hidden;
    background-color: $gray-1;
    text-align: center;
    vertical-align: middle;

    &--rounded {
      border-radius: 50%;
    }

    img {
      width: 100%;
      height: auto;
    }

    &--size27 {
      width: rem(27);
      height: rem(27);
    }

    &--size46 {
      width: rem(46);
      height: rem(46);
    }

    &--size50 {
      width: rem(50);
      height: rem(50);
    }

    &--size64 {
      width: rem(64);
      height: rem(64);
    }

    &--size84 {
      width: rem(84);
      height: rem(84);
    }

    &--size110 {
      width: rem(110);
      height: rem(110);
    }
  }

  &__avatarGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .vb__utils__avatar {
      border: 3px solid $white;
      flex-shrink: 0;

      &:not(:first-child) {
        margin-left: rem(-16);
      }

      &--rounded {
        ~ .vb__utils__avatarGroupAdd {
          border-radius: 50%;
        }
      }

      &--size27 {
        ~ .vb__utils__avatarGroupAdd {
          width: rem(27);
          height: rem(27);
        }
      }

      &--size46 {
        ~ .vb__utils__avatarGroupAdd {
          width: rem(46);
          height: rem(46);
        }
      }

      &--size50 {
        ~ .vb__utils__avatarGroupAdd {
          width: rem(50);
          height: rem(50);
        }
      }

      &--size64 {
        ~ .vb__utils__avatarGroupAdd {
          width: rem(64);
          height: rem(64);
        }
      }

      &--size110 {
        ~ .vb__utils__avatarGroupAdd {
          width: rem(110);
          height: rem(110);
        }
      }
    }

    .vb__utils__avatarGroupAdd {
      flex-shrink: 0;
      width: rem(40);
      height: rem(40);
      border-radius: 5px;
      color: $gray-6;
      background-color: $gray-2;
      text-align: center;
      border: 3px solid $white;
      margin-left: rem(-16);
      position: relative;
      font-size: rem(18);

      i {
        position: absolute;
        top: 50%;
        left: calc(50% - 1px);
        transform: translate(-50%, -50%);
      }
    }
  }

  // custom checkboxes and radios controls
  &__control {
    display: block;
    position: relative;
    margin-bottom: rem(10);
    cursor: pointer;

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &__indicator {
      //position: absolute;
      //top: 0;
      //left: 0;
      margin-right: rem(8);
      vertical-align: top;
      position: relative;
      display: inline-block;
      height: 18px;
      width: 18px;
      background: $gray-2;
      border-radius: 3px;

      &:after {
        position: absolute;
        display: none;
        content: "";
      }
    }

    &:hover input ~ .vb__utils__control__indicator,
    input:focus ~ .vb__utils__control__indicator {
      background: $gray-3;
    }

    input:checked ~ .vb__utils__control__indicator {
      background: $primary;
    }

    &:hover input:not([disabled]):checked ~ .vb__utils__control__indicator,
    .vb__utils__control input:checked:focus ~ .vb__utils__control__indicator {
      background: $primary;
      opacity: 0.8;
    }

    input:disabled ~ .vb__utils__control__indicator {
      pointer-events: none;
      opacity: 0.6;
      background: $gray-2;
    }

    input:checked ~ .vb__utils__control__indicator:after {
      display: block;
    }

    &__checkbox {
      .vb__utils__control__indicator:after {
        top: 3px;
        left: 6px;
        width: 6px;
        height: 10px;
        transform: rotate(45deg);
        border: solid #fff;
        border-width: 0 2px 2px 0;
      }

      input:disabled ~ .vb__utils__control__indicator:after {
        border-color: #7b7b7b;
      }
    }

    &__radio {
      .vb__utils__control__indicator {
        border-radius: 50% !important;

        &:after {
          top: 6px;
          left: 6px;
          width: 6px;
          height: 6px;
          border-radius: 50% !important;
          background: #fff;
        }
      }

      input:disabled ~ .vb__utils__control__indicator:after {
        background: #7b7b7b;
      }
    }
  }

  // donut badge
  &__donut {
    display: inline-block;
    width: rem(16);
    height: rem(16);
    border-radius: 100%;
    border: 4px solid $default;
    position: relative;
    top: rem(2);
    margin-right: rem(4);

    &--md {
      width: rem(26);
      height: rem(26);
    }

    &--default {
      border-color: $default;
    }
    &--primary {
      border-color: $primary;
    }
    &--secondary {
      border-color: $secondary;
    }
    &--success {
      border-color: $success;
    }
    &--warning {
      border-color: $warning;
    }
    &--danger {
      border-color: $danger;
    }
    &--info {
      border-color: $info;
    }
    &--yellow {
      border-color: $yellow;
    }
    &--orange {
      border-color: $orange;
    }
  }

  // icon table
  &__iconPresent {
    padding: 0 0 rem(30);
    text-align: center;

    li {
      text-align: center;
      display: inline-block;
      width: rem(40);
      height: rem(40);
      line-height: rem(40);
      font-size: rem(36);
      padding: rem(10) rem(30);
      box-sizing: content-box !important;
      border-radius: 3px;
      background: $gray-1;
      margin: rem(10);
      &:hover {
        background: $black;
        color: $white;
      }
    }

    .tooltip {
      font-size: rem(18);
    }
  }

  &__docs {
    & > .container .row > [class^="col"],
    & > .container-fluid .row > [class^="col"],
    .themed-container {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      background-color: $gray-1;
      border: 1px solid $border;
      margin-bottom: rem(10);
    }
  }
}

// dark theme
[data-vb-theme="dark"] {
  .vb__utils {
    &__link {
      color: $primary;
      &:hover {
        color: $blue-light;
      }
      &__underlined {
        color: $primary;
        border-bottom: 1px solid $dark-gray-3;
        &:hover {
          color: $blue-light;
          border-bottom: 1px solid $dark-gray-2;
        }
      }
    }

    &__heading {
      color: $white;
    }

    &__sidebar {
      &__button {
        background: $dark-gray-4;
        &__success {
          background: $success;
        }

        &__long {
          &:hover {
            color: $white !important;
          }
        }
      }
    }

    &__avatar {
      border-color: $dark-gray-4;
      background: $dark-gray-4;
    }

    &__avatarGroupAdd {
      border-color: $dark-gray-4;
      background: $dark-gray-5;
    }

    &__iconPresent {
      li {
        background: $dark-gray-4;
        color: $dark-gray-1;
        &:hover {
          background: $dark-gray-1;
          color: $dark-gray-4;
        }
      }
    }

    &__docs {
      & > .container .row > [class^="col"],
      & > .container-fluid .row > [class^="col"],
      .themed-container {
        background-color: $dark-gray-5;
        border: 1px solid $dark-gray-4;
      }
    }
  }
}
