@import "mixins.scss";

.table {
  white-space: nowrap !important;
  :global(.ant-table-body) {
    overflow-x: auto !important;
  }
}

.avatar {
  width: rem(40);
  height: rem(40);
  border-radius: 5px;
  overflow: hidden;
  background-color: $gray-1;
  text-align: center;
  vertical-align: middle;

  img {
    width: 100%;
    height: auto;
  }
}
