@import "mixins.scss";

.item {
  padding: rem(7) rem(10) rem(5);
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: lighten($gray-1, 2);
  }
}

.current {
  background-color: $gray-1;

  &:hover {
    background-color: $gray-1;
  }
}
